name: Run Python script

on:
  workflow_dispatch:
  schedule:
    - cron: '0 */6 * * *'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: create env file
      run: |
        echo "${{ secrets.ENV }}" > .env

    - name: Setup Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Cache pip
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Cache ffmpeg
      uses: actions/cache@v3
      with:
        path: ~/bin/ffmpeg
        key: ${{ runner.os }}-ffmpeg
        restore-keys: ${{ runner.os }}-ffmpeg

    - name: Cache yt-dlp
      uses: actions/cache@v3
      with:
        path: ~/bin/yt-dlp
        key: ${{ runner.os }}-yt-dlp
        restore-keys: ${{ runner.os }}-yt-dlp

    - name: Install dependencies
      run: |
        mkdir -p ~/bin
        echo "$HOME/bin" >> $GITHUB_PATH

        if [ ! -f ~/bin/ffmpeg ]; then
          sudo apt-get update
          sudo apt-get install -y ffmpeg
          cp /usr/bin/ffmpeg ~/bin/ffmpeg
        fi

        if [ ! -f ~/bin/yt-dlp ]; then
          curl -L https://github.com/yt-dlp/yt-dlp/releases/latest/download/yt-dlp -o ~/bin/yt-dlp
          chmod a+rx ~/bin/yt-dlp
        fi

        pip install -r requirements.txt

    - name: Run script
      run: python main.py